<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="i.am.whp.mapper.local.MyTableMapper">

    <resultMap id="baseMap" type="i.am.whp.model.MyTable">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="status" column="status" typeHandler="i.am.whp.handler.StatusHandler"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="statusCountMap" type="java.util.HashMap">
        <result property="key" column="rut_KEY" javaType="java.lang.Integer"/>
        <result property="value" column="rut_VALUE" javaType="java.lang.Integer"/>
    </resultMap>

    <select id="getById" parameterType="java.lang.Integer" resultMap="baseMap">
        select a.* from my_table a where id = #{id}
    </select>
    <select id="getList" parameterType="i.am.whp.domain.GetDataParam" resultMap="baseMap">
        select
        *
        from my_table
        where 1=1
        <if test="keyword != null and keyword != ''">
            and name like concat('%',#{keyword},'%')
        </if>
        limit #{startNum},#{pageSize}
    </select>
    <select id="getCount" parameterType="i.am.whp.domain.GetDataParam" resultType="java.lang.Integer">
        select
        count(*)
        from my_table
        where 1=1
        <if test="keyword != null and keyword != ''">
            and name like concat('%',#{keyword},'%')
        </if>
    </select>

    <select id="countByStatus" resultMap="statusCountMap">
        select
        status as rut_KEY,
        count(status) as rut_VALUE
        from my_table
        group by status
    </select>

    <update id="update" parameterType="java.lang.Integer">
        update my_table
        set status = -1
        where id = #{id}
    </update>

    <insert id="insert" parameterType="i.am.whp.model.MyTable">
        insert into my_table(name,status)
        values(#{name},#{status,typeHandler=i.am.whp.handler.StatusHandler})
    </insert>

    <select id="whereTest" parameterType="i.am.whp.model.MyTable" resultMap="statusCountMap">
        select * from my_table
        <where>
            and create_time = '2020-03-17 12:48:19' <!--and都会处理-->
            <if test="name != ''">
                and name rlike #{name}  <!--and会处理 多去少不补-->
            </if>
            <if test="status != null">
                and status = #{status,typeHandler=i.am.whp.handler.StatusHandler}
            </if>
        </where>
    </select>

</mapper>

