<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="i.am.whp.mapper.local.MyTableMapper">

    <resultMap id="baseMap" type="i.am.whp.model.MyTable">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="status" column="status" typeHandler="i.am.whp.handler.StatusHandler"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="getById" parameterType="java.lang.Integer" resultMap="baseMap">
		select a.* from my_table a where id = #{id}
	</select>
    <select id="getList" resultMap="baseMap">
        select
            *
        from my_table
        where 1=1
        <if test="keyword != null and keyword != ''">
            and name like concat('%',#{keyword},'%')
        </if>
    </select>

</mapper>

