<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="i.am.whp.mapper.aws.MyTableMapper">

    <select id="getById" parameterType="java.lang.Integer" resultType="i.am.whp.model.MyTable">
		select a.* from my_table a where id = #{id}
	</select>

</mapper>

