<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="i.am.whp.mapper.aws.MyTableMapper">

    <select id="getById" parameterType="java.lang.Integer" resultType="i.am.whp.model.MyTable">
		select a.* from my_table a where id = #{id}
	</select>
    <select id="getList" resultType="i.am.whp.model.MyTable">
        select
          id,name,create_time as createTime
        from my_table
        where 1=1
        <if test="keyword != null and keyword != ''">
            and name like concat('%',#{keyword},'%')
        </if>
    </select>

</mapper>

