<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 自动扫描注解的bean -->
    <!--<context:component-scan-->
    <!--base-package="i.am.whp.dao"-->
    <!--use-default-filters="true">-->
    <!--</context:component-scan>-->
    <import resource="mybatis.xml"/>
</beans>
