<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="i.am.whp.dao.WhpTestDao">
    <resultMap id="baseMap" type="i.am.whp.bean.WhpTest">
        <result property="id" column="id"/>
        <result property="message" column="message"/>
        <result property="createTime" column="create_time"/>
    </resultMap>
    <select id="getId" parameterType="java.lang.Integer" resultMap="baseMap">
        select a.*
        from whp_test a
        where id = #{id}
    </select>
    <!-- 查询接口 -->
    <select id="getall" parameterType="map" resultType="i.am.whp.bean.WhpTest2">
        select a.* from whp_test a
        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <if test="message != null and message != ''">AND a.message = #{message}</if>
        </trim>
        <if test="startIndex != null and  pageSize != null and startIndex >= 0 and  pageSize > 0">
            order by a.id desc
            limit ${startIndex},${pageSize}
        </if>
    </select>
    <select id="count" parameterType="map" resultType="java.lang.Integer">
        select count(0) from whp_test a
        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <if test="message != null and message != ''">AND a.message = #{message}</if>
        </trim>
    </select>
    <!-- 添加 -->
    <insert id="save" parameterType="i.am.whp.bean.WhpTest" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO whp_test (
        <trim suffixOverrides=",">
            <if test="message != null and message != ''">message,</if>
        </trim>
        ) VALUES (
        <trim suffixOverrides=",">
            <if test="message != null and message != ''">#{message},</if>
        </trim>
        )
    </insert>
    <!-- 修改 -->
    <update id="update" parameterType="i.am.whp.bean.WhpTest">
        UPDATE whp_test
        <trim prefix="SET" suffixOverrides=",">
            <if test="message != null and message != ''">message = #{message},</if>
        </trim>
        WHERE
        id = #{id}
    </update>
    <!-- 删除 -->
    <delete id="delete" parameterType="i.am.whp.bean.WhpTest">
        delete
        from whp_test
        where id = #{id}
    </delete>
    <!--
    <select id="baseGetId" resultType="map">
        select * from whp_test where id = #{id}
    </select>
    <select id="baseSelect" resultType="map" parameterType="map">
        select * from whp_test
        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <if test="id != null and id != ''">AND id = #{id}</if>
            <if test="message != null and message != ''">AND message = #{message}</if>
            <if test="create_time != null and create_time != ''">AND create_time = #{create_time}</if>
        </trim>
        <if test="(DESC != null and DESC != '') or (ASC != null and ASC != '')">
            <trim prefix="ORDER BY" suffixOverrides=",">
                <if test="DESC != null and DESC != ''">${DESC} DESC,</if>
                <if test="ASC != null and ASC != ''">${ASC} ASC</if>
            </trim>
        </if>
        <if test="startIndex != null and startIndex >= 0 and pageSize != null and pageSize  > 0">
        limit ${startIndex},${pageSize}
        </if>
    </select>
    <select id="baseCount" resultType="java.lang.Integer"	parameterType="map">
        select count(0) from whp_test
        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <if test="id != null and id != ''">AND id = #{id}</if>
            <if test="message != null and message != ''">AND message = #{message}</if>
            <if test="create_time != null and create_time != ''">AND create_time = #{create_time}</if>
        </trim>
    </select>
    <insert id="baseInsert" parameterType="map">
        <selectKey resultType="java.lang.Integer" order="AFTER"
            keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        INSERT INTO whp_test
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="message != null and message != ''">message,</if>
            <if test="create_time != null and create_time != ''">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="message != null and message != ''">#{message},</if>
            <if test="create_time != null and create_time != ''">#{create_time},</if>
        </trim>
    </insert>
    <update id="baseUpdate" parameterType="map">
        UPDATE whp_test
        <trim prefix="SET" suffixOverrides=",">
                <if test="message != null and message != ''">message = #{message},</if>
                <if test="create_time != null and create_time != ''">create_time = #{create_time},</if>
        </trim>
        WHERE id = #{id}
    </update>
    <delete id="baseDelete" parameterType="map">
        delete from whp_test
        WHERE id = #{id}
    </delete>	 -->
</mapper>

